* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  width: 100%;
  min-width: 1060px;
  /*borrar luego*/
  overflow-x: hidden;

}
.contenedor_row {
  display: flex;
  flex-direction: row;
}
.contenedor_col {
  display: flex;
  flex-direction: column;
}
.contenedor {
  display: flex;
}

/*-----( NAV BAR )-----------------------------------------------------------------------------------------------------------------------*/
#nav_bar {
  margin-top: 10px !important;
  margin-bottom: 10px;
  position: relative;

  height: 60px;

  align-items: center;
}
#nav_bar img {
  margin-left: 30px;
  margin-right: 50px;

  height: 100%;
}
#nav_bar a {
  margin-right: 20px;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#nav_bar a#b {
  background-color: white;
  position: absolute;
  right: 220px;

  padding: 12px;
  margin-right: 10px;

  border-radius: 25px;
}
#nav_bar a#n {
  background-color: orange;
  position: absolute;
  right: 0px;

  padding: 12px;

  border-radius: 25px;
}
#portada_principal nav hr {
  margin: auto;

  border: 2px solid gray;
  border-radius: 5px;

  width: 96%;
}

/*-----( PORTADA PRINCIPAL )-------------------------------------------------------------------------------------------------------------*/
#portada_principal {
  background-color: #dddddd;

  width: 100%;
  height: 870px;
}
#portada_principal.contenedor_col {
  background-image: url(imgs/img-portada_principal.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
#portada_principal div.contenedor_col {

  align-content: center;
  justify-content: center;

  height: 100%;
}
#portada_principal div h1 {
  margin-left: 30px;

  font-size: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}
#portada_principal div p {
  margin-left: 30px;


  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}
#portada_principal div div {
  margin-left: 30px;
  margin-top: 30px;
}
#portada_principal div div#pp_a a {
  background-color: white;

  padding: 12px;
  margin-right: 10px;

  border-radius: 25px;

  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#portada_principal div div a#n {
  background-color: orange;
}

/*-----( TARJETAS )----------------------------------------------------------------------------------------------------------------------*/
#tarjetas_transporte {
  background-color: white;

  margin-top: -30px;
  padding-top: 25px;

  border-radius: 30px;
  align-items: center;

  width: 100%;
}
#tarjetas_transporte div#intro {
  width: 100%;
  height: 200px;
}
#tarjetas_transporte div#intro div#a{
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;
}
#tarjetas_transporte div#intro p {
  
  color: black;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;

  width: 250px;
}
#tarjetas_transporte div#intro div#b{
  margin: auto;

  align-items: center;
  justify-content: space-around;

  width: 60%;
  height: 100%;
}
#tarjetas_transporte div#intro h2 {
  color: black;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 80%;
  min-width: 650px;
}
#tarjetas_transporte div#intro a {
  background-color: orange;

  padding: 12px;

  border-radius: 25px;

  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#tarjetas_transporte div#lista {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;

  padding-bottom: 20px;
  margin-left: 20%;

  align-items: center;
  justify-content: space-between;

  width: 80%;
}
#tarjetas_transporte div#lista a {
  display: flex;
  flex-direction: column;

  margin: 10px;

  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 10px 10px 10px gray;

  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  align-items: center;
  justify-content: center;

  width: 250px;
  height: 250px;
}
#tarjetas_transporte div#lista a div {
  align-items: center;

  width: 250px;
  height: 250px;
}
#tarjetas_transporte div#lista a i {
  margin-top: 10px;

  color: orange;
  font-size: 80px;
}
#tarjetas_transporte div#lista a p {
  margin: 10px;

  text-align: center;
  font-size: 18px;
}
#tarjetas_transporte div#lista a p#a {
  margin-top: 15px;
  margin-bottom: 0px;
}
#tarjetas_transporte hr {
  margin: 15px 20px 15px 0px;

  border: 2px solid rgba(128, 128, 128, 0.25);
  border-radius: 5px;

  align-self: self-end;

  width: 80%;
}
#tarjetas_transporte div#lista a:hover {
  background-color: orange;

  box-shadow: 10px 10px 20px #faea10;
  transition: 0.5s;
}
#tarjetas_transporte div#lista a:hover i {
  color: #4b3eb1;
  transition: 0.5s;
}
#tarjetas_transporte div#lista a:hover p {
  color: white;
  transition: 0.5s;
}

/*-----( CALIDAD SERVICIO )--------------------------------------------------------------------------------------------------------------*/
#calidad_servicio {
  margin-top: 20px;
  margin-bottom: 30px;

  width: 100%;
  height: auto;
}
#calidad_servicio div#a{
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  width: 25%;
  height: auto;
}
#calidad_servicio div#a img{
  object-fit: cover;
  filter: opacity(75%);

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  width: 100%;
  height: 100%;
}
#calidad_servicio div#b{
  align-items: center;

  width: 75%;
}
#calidad_servicio div#b h2{
  padding:20px;

  color: black;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;

  width: 100%;
  min-width: 650px;
}
#calidad_servicio div#b div.contenedor{
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: auto;
  height: auto;
}
#calidad_servicio div#b div.contenedor div{
  margin: 25px;

  width: 250px;
  height: 250px;
}
#calidad_servicio div#b div.contenedor div i{
  margin: 10px;
  margin-left: 0px;

  color:orange;
  font-size: 40px;
}
#calidad_servicio div#b div.contenedor div p{
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*-----( COMO OPERAMOS )-----------------------------------------------------------------------------------------------------------------*/

#modo_operar {
  background-color: orange;
  padding-top: 25px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  width: 100%;
  height: auto;
}
#modo_operar div#intro{


  width: 50%;
  height: 100%;
}
#modo_operar div#intro h2{
  margin: 20px;

  color: white;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#modo_operar div#lista{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;

  padding-bottom: 20px;

  align-items: center;
  justify-content: space-between;

  width: 80%;
}
#modo_operar div#lista div#a{
  margin: 10px;

  width: 250px;
  height: 250px;
}
#modo_operar div#lista div#tarjeta{
  border: 2px solid gray;
  border-radius: 25px;
 

  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 250px;
  height: 250px;
}

/*Buscador de pedido*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #cacaca;
}
.nav {
  width: 600px;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.seguimiento {
  font-size: 20px;
  color: #0077c0;
  text-decoration: none;
  font-weight: bold;
}
.form {
  width: 250px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 16px;
  margin-right: 10px;
}
.form:focus {
  outline: none;
  border-bottom: 2px solid #0077c0;
}
.btn {
  background-color: #0077c0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #005ea3;
}

/*Estilización del footer falta realizar mas cambios todavia*/
#footer {
  background-color: rgb(74, 74, 155);
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  flex-basis: 17%;
  margin-bottom: 30px;
}
.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}
.quienes,
.titulo,
.parrafo,
.servicios li,
.Compañia li,
.column a {
  font-size: 20px;
  margin-bottom: 10px;
}
ul li {
  line-height: 2.7;
  list-style: none;
  margin-bottom: 5px;
}
.lab {
  font-size: 55px;
}
.las {
  font-size: 22px;
  font-weight: bold;
}
.container3 {
  background-image: url(imgs/container.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}

/*-----( ASPECTOS - WEBKIT)-------------------------------------------------------------------------------------*/
body::-webkit-scrollbar,
#tarjetas_transporte div#lista::-webkit-scrollbar,
#modo_operar div#lista::-webkit-scrollbar{
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical{
  display: none;
}
#tarjetas_transporte div#lista::-webkit-scrollbar:vertical,
#modo_operar div#lista::-webkit-scrollbar:vertical{
  width:10px;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-button:increment,
#modo_operar div#lista::-webkit-scrollbar-button:increment,
#tarjetas_transporte div#lista::-webkit-scrollbar-button,
#modo_operar div#lista::-webkit-scrollbar-button{
  display: none;
} 
#tarjetas_transporte div#lista::-webkit-scrollbar:horizontal,
#modo_operar div#lista::-webkit-scrollbar:horizontal{
  height: 10px;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
#modo_operar div#lista::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 166, 0, 0.5);
}
#tarjetas_transporte div#lista::-webkit-scrollbar-track,
#modo_operar div#lista::-webkit-scrollbar-track{
  border-radius: 10px;  
}


/*-----Formulario----*/
.image-container {
  background-image: url(imgs/container.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
  position: relative;
}

.section-form{
  background-color: rgba(252, 97, 59, 0.911);
  height: 80vh;
}

.container3 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f0f5;
  padding: 20px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.form-group button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #3367d6;
}

@media all and (max-width: 600px){
  #tarjetas_transporte {
    background-color: rgb(0, 0, 0);
  
    margin-top: -30px;
  
    border-radius: 30px;
    align-items: center;
  
    width: 100%;
  }
  #tarjetas_transporte div#intro {
    width: 100%;
    height: 300px;
  }
  #tarjetas_transporte div#intro div#a{
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
  }
  #tarjetas_transporte div#intro p {
    
    color: black;
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 27px;
    margin-top: 60px;
  
    width: 285px;
  }
  #tarjetas_transporte div#intro div#b{
    margin: auto;
  
    align-items: center;
    justify-content: space-around;
    
    width: 65;
    height: 100%;
  }
  #tarjetas_transporte div#intro h2 {
    color: black;
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
    width: 65%;
  }
  #tarjetas_transporte div#intro a {
    background-color: orange;
  
    padding: 12px;
  
    border-radius: 25px;
  
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #tarjetas_transporte div#lista {
    display: inline-flex;
    flex-wrap: wrap;
   
  
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: 8%;
  
    align-items: center;
    justify-content: space-between;
  
    width: 85%;
  }
  #tarjetas_transporte div#lista a {
    display: flex;
    flex-direction: column;
  
    margin: 20px;
    border: 2px solid gray;
    border-radius: 25px;
    box-shadow: 10px 10px 10px gray;
  
    color: black;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
    align-items: center;
    justify-content: center;
  
    width: 250px;
    height: 315px;
  }
  #tarjetas_transporte div#lista a div {
    align-items: center;
  
    width: 250px;
    height: 250px;
  }
  #tarjetas_transporte div#lista a i {
    margin-top: 10px;
  
    color: orange;
    font-size: 80px;
  }
  #tarjetas_transporte div#lista a p {
    margin: 10px;
  
    text-align: center;
    font-size: 18px;
  }
  #tarjetas_transporte div#lista a p#a {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  #tarjetas_transporte hr {
    margin: 15px 20px 15px 0px;
  
    border: 2px solid rgba(128, 128, 128, 0.25);
    border-radius: 5px;
  
    align-self: self-end;
  
    width: 80%;
  }
  #tarjetas_transporte div#lista a:hover {
    background-color: orange;
  
    box-shadow: 10px 10px 20px #faea10;
    transition: 0.5s;
  }
  #tarjetas_transporte div#lista a:hover i {
    color: #4b3eb1;
    transition: 0.5s;
  }
  #tarjetas_transporte div#lista a:hover p {
    color: white;
    transition: 0.5s;
  }

  /*----Boton de busqueda----*/

  .container{
    background-color: white;
    height: 250px;
  }

  .seguimiento{
    font-size: 25px;
  }
  .btn{
    font-size: 25px;
    margin-left: 12px;
  }

  .form{
    font-size: 22px;
  }

  /*Transporte*/
  h2 {
    text-align: center;
    font-size: 50px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  
  .texto {
    margin: 20px 0;
    text-align: center;
    background-color: rgb(243, 243, 235);
  }
  
  .imagen {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }

  /*----Formulario-----*/
  .section-form{
    height: 700px;
    border-radius: 33px;
  }

  .image-container{
    height: 450px;
  }
  
  /*---Footer---*/
 
  .container2 {
    flex-direction: column;
    align-items: center;
  }
  .column {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .lab{
    font-size: 60px;
  }
  .las{
    font-size: 35px;
    margin: 10px;
  }
}