* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  width: 100%;
  min-width: 1060px;
  height: 100%;
  /*borrar luego*/
  overflow-x: hidden;

}
.contenedor_row {
  display: flex;
  flex-direction: row;
}
.contenedor_col {
  display: flex;
  flex-direction: column;
}

/*-----( NAV BAR )------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#nav_bar {
  margin-top: 10px !important;
  position: relative;

  height: 60px;

  align-items: center;
}
#nav_bar img {
  margin-left: 30px;
  margin-right: 50px;

  height: 100%;
}
#nav_bar a {
  margin-right: 40px;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#nav_bar a#b {
  background-color: white;
  position: absolute;
  right: 220px;

  padding: 12px;
  margin-right: 10px;

  border-radius: 25px;
}
#nav_bar a#n {
  background-color: orange;
  position: absolute;
  right: -20px;

  padding: 12px;

  border-radius: 25px;
}
#portada_principal nav hr {
  margin: auto;

  border: 2px solid gray;
  border-radius: 5px;

  width: 96%;
}

/*-----( PORTADA PRINCIPAL )----------------------------------------------------------------------------------------------------------*/
#portada_principal {
  background-color: #dddddd;

  width: 100%;
  height: 870px;
}
#portada_principal.contenedor_col {
  background-image: url(imgs/img-portada_principal.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
#portada_principal div.contenedor_col {

  align-content: center;
  justify-content: center;

  height: 100%;
}
#portada_principal div h1 {
  margin-left: 30px;

  font-size: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}
#portada_principal div p {
  margin-left: 30px;


  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}
#portada_principal div div {
  margin-left: 30px;
  margin-top: 30px;
}
#portada_principal div div#pp_a a {
  background-color: white;

  padding: 12px;
  margin-right: 10px;

  border-radius: 25px;

  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#portada_principal div div a#n {
  background-color: orange;
}

/*-----( TARJETAS )-------------------------------------------------------------------------------------------------------------------*/
#tarjetas_transporte {
  background-color: white;

  margin-top: -30px;

  border-radius: 30px;
  align-items: center;

  width: 100%;
}
#tarjetas_transporte div#intro {
  width: 100%;
  height: 200px;
}
#tarjetas_transporte div#intro div#a{
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;
}
#tarjetas_transporte div#intro p {
  
  color: black;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;

  width: 250px;
}
#tarjetas_transporte div#intro div#b{
  margin: auto;

  align-items: center;
  justify-content: space-around;

  width: 60%;
  height: 100%;
}
#tarjetas_transporte div#intro h2 {
  color: black;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 80%;
  min-width: 650px;
}
#tarjetas_transporte div#intro a {
  background-color: orange;

  padding: 12px;

  border-radius: 25px;

  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#tarjetas_transporte div#lista {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;

  padding-bottom: 20px;
  margin-left: 20%;

  align-items: center;
  justify-content: space-between;

  width: 80%;
}
#tarjetas_transporte div#lista a {
  display: flex;
  flex-direction: column;

  margin: 10px;

  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 10px 10px 10px gray;

  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  align-items: center;
  justify-content: center;

  width: 250px;
  height: 250px;
}
#tarjetas_transporte div#lista a div {
  align-items: center;

  width: 250px;
  height: 250px;
}
#tarjetas_transporte div#lista a i {
  margin-top: 10px;

  color: orange;
  font-size: 80px;
}
#tarjetas_transporte div#lista a p {
  margin: 10px;

  text-align: center;
  font-size: 18px;
}
#tarjetas_transporte div#lista a p#a {
  margin-top: 15px;
  margin-bottom: 0px;
}
#tarjetas_transporte hr {
  margin: 15px 20px 15px 0px;

  border: 2px solid rgba(128, 128, 128, 0.25);
  border-radius: 5px;

  align-self: self-end;

  width: 80%;
}
#tarjetas_transporte div#lista a:hover {
  background-color: orange;

  box-shadow: 10px 10px 20px #faea10;
  transition: 0.5s;
}
#tarjetas_transporte div#lista a:hover i {
  color: #4b3eb1;
  transition: 0.5s;
}
#tarjetas_transporte div#lista a:hover p {
  color: white;
  transition: 0.5s;
}

/*Buscador de pedido*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f9f9f9;
}

.nav {
  width: 600px;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.seguimiento {
  font-size: 20px;
  color: #0077c0;
  text-decoration: none;
  font-weight: bold;
}

.form {
  width: 250px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 16px;
  margin-right: 10px;
}

.form:focus {
  outline: none;
  border-bottom: 2px solid #0077c0;
}

.btn {
  background-color: #0077c0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #005ea3;
}



/*Estilización del footer falta realizar mas cambios todavia*/

#footer {
  background-color: rgb(74, 74, 155);
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex-basis: 17%;
  margin-bottom: 30px;
}

.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}

.quienes,
.titulo,
.parrafo,
.servicios li,
.Compañia li,
.column a {
  font-size: 20px;
  margin-bottom: 10px;
}

ul li {
  line-height: 2.7;
  list-style: none;
  margin-bottom: 5px;
}

.lab {
  font-size: 55px;
}

.las {
  font-size: 22px;
  font-weight: bold;
}

.container3 {
  background-image: url(imgs/container.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}



/*-----Prueba del navbar responsive-----------------------------------*/




/*-----( ASPECTOS - WEBKIT)-------------------------------------------------------------------------------------*/
body::-webkit-scrollbar, #tarjetas_transporte div#lista::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical{
  display: none;
}
#tarjetas_transporte div#lista::-webkit-scrollbar:vertical {
  width:10px;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-button:increment,
#tarjetas_transporte div#lista::-webkit-scrollbar-button {
  display: none;
} 
#tarjetas_transporte div#lista::-webkit-scrollbar:horizontal {
  height: 10px;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
#tarjetas_transporte div#lista::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 166, 0, 0.5);
}
#tarjetas_transporte div#lista::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/*-----( 3 paginafabricio)-------------------------------------------------------------------------------------*/
h2{
  text-align: center;

}
.contenedor{
  display: flex;
 font-size: 18px;
}
.texto{
  margin-right: 150px;
  
 
}

.imagen{
  width: 330px;
  height: 330px;
  margin-right: 150px;
  
}
/*-----( 3 paginafabricio)-------------------------------------------------------------------------------------*/
